/* Write your CSS here */
.tab-list-item {
  list-style-type: none;
  margin-right: 5px;
}

.button {
  color: black;
  background-color: transparent;
  border: none;
}

.active-button {
  color: blue;
  text-decoration: underline;
}
